:root {
    --cor-fundo: rgb(112, 78, 14);
}

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-fundo);
    padding: 0.5rem;
    font-size: 1.5rem;
}

ul {
    padding-left: 1rem;
    list-style-type: none;
}

nav ul li {
    background-color: orchid;
    color: red;
    margin-bottom: 00.5rem;
    padding: 00.5rem;
}

nav ul li a {
    color: red;
}

article {
    border: 2px solid orangered;
    padding: 1.25rem;
}

article section h2 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    background-color: orange;
    padding: 0.5rem;
    font-size: 1.25rem;
    margin-top: 0;
}

article section p {
    font-family: Arial, Helvetica, sans-serif;
}

article section {
    width: 80vw;
    border: 1px solid orangered;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer p a {
    display: inline-block;
    padding: 0.5rem;
    background-color: rgb(17, 71, 1);
    color: #FFF;
    text-decoration: none;
    border-radius: 0.5rem;
    box-shadow: #999 4px 2px 4px 0px;
}

@media only screen and (min-width: 768px) {
    article {
        display: flex;
        flex-direction: row;
    }
    article section {
        width: 45vw;
    }
}